# {{project.name}} version 1.0

This is the README file for your project. Users can read this to learn about
your program. It can also be a useful reminder to you of what this program does.
When you've written enough programs you will certainly forget some details!

To help users understand your program, you should write some notes here on what
it does. It could be just a couple of sentences up to several paragraphs.

It's your file. You should delete or change all of the sections here, including
this one. Here are some suggested sections:

# Running {{project.name}}

At a command prompt, type

    python3 {{project.py_file}}

# Other details

You could write down:

* Who wrote {{project.py_file}} and how users can get in touch with you
* Any bugs you know about

# License

Here you could include a license so that other programmers know they can
contribute to your program.

See http://opensource.org/licenses to learn more.
